@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import "tailwindcss";


@theme {
  --font-google: "Google Sans Flex", sans-serif;
}



* {
  @apply font-google
}




:root {
  --sileo-toast-zindex: 2000; /* higher than your modal */
}

[data-sileo-toast] {
  z-index: 2000 !important;
}


video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}